name: Create and publish Docker images

on: workflow_dispatch

jobs:
  Ubuntu:
    strategy:
      fail-fast: false
      matrix:
        include:
          - compiler: gcc
            version: 14
          - compiler: gcc
            version: 15
          - compiler: clang
            version: 20
          - compiler: clang
            version: 21

    name: "Ubuntu, ${{ matrix.compiler }}-${{ matrix.version }}"

    runs-on: ubuntu-latest

    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: "${{ github.repository_owner }}/ubuntu"
      IMAGE_TAG: "${{ matrix.compiler }}-${{ matrix.version }}"

    steps:
      - name: Prepare environment variables
        run: |
          echo "IMAGE_NAME=${IMAGE_NAME,,}" >>$GITHUB_ENV
          echo "IMAGE_FULL_TAG=$REGISTRY/${IMAGE_NAME,,}:$IMAGE_TAG" >>$GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build ubuntu \
            --tag "$IMAGE_FULL_TAG" \
            --build-arg COMPILER_TYPE=${{ matrix.compiler }} \
            --build-arg COMPILER_VERSION=${{ matrix.version }}

      - name: Test Docker image
        run: |
          docker run \
            --volume "$GITHUB_WORKSPACE/test:/src" \
            --workdir /src \
            --interactive \
            --user $(id -u):$(id -g) \
            "$IMAGE_FULL_TAG" \
            ./build-and-run.sh

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker image
        run: |
          docker push "$IMAGE_FULL_TAG"

  haskell:
    name: "Haskell toolchain with GHC and Cabal"

    runs-on: ubuntu-latest

    env:
      REGISTRY: ghcr.io
      IMAGE_NAME: "${{ github.repository_owner }}/haskell"
      IMAGE_TAG: "latest"

    steps:
      - name: Prepare environment variables
        run: |
          echo "IMAGE_NAME=${IMAGE_NAME,,}" >>$GITHUB_ENV
          echo "IMAGE_FULL_TAG=$REGISTRY/${IMAGE_NAME,,}:$IMAGE_TAG" >>$GITHUB_ENV

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: |
          docker build haskell \
            --tag "$IMAGE_FULL_TAG" \

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Push Docker image
        run: |
          docker push "$IMAGE_FULL_TAG"
